<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn" id="i18_contact">
            <div style="height: 80px;"></div>
            <a id="abc" class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" onClick='document.getElementById("abc").href=atob("bWFpbHRvOmtvbnRha3RAemVyZW1vbnkuZGU=")' href="#"><i class="fa fa-envelope-o"></i> <span data-i18n="contact.contact">Contact</span></a>
            <div style="height: 80px;"></div>
        </div>
    </div>
    <div class="row">
	<h3>Impressum</h3>
       Ilja Schneider<br \>
       Neutorstrasse 10<br \>
       97070 Würzburg<br \>
       Mail: info<img src="/static/assets/img/landing/at.png" style="height: 1em; weight: 1em;" alt="@">zeremony.de<br \>
	Tel: +49  🄞 ９31 68០84819
    </div>
   <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id=""><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
   </div>
</div>
