<div class="container" id="i18_link">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="link.link">Media</span></h1>
        </div>
    </div>
    <div class="row">
		<div class="text-center team-member"><iframe style="margin-left: auto;margin-right: auto;  display: block; height: 480px; width: 854px;"  class="ignore-css"  width="854" height="480" src="https://www.youtube.com/embed/uFWBX9IMMUM" frameborder="0" allowfullscreen></iframe></div>
		<div class="navy-line"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Spotify</h4>
            <iframe style="height: 380px; width: 300px;" class="ignore-css" src="https://open.spotify.com/embed?uri=spotify:artist:4ykxFn1wN8U6wLn2MbyzFl" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div class="col-sm-4">
            <h4>Buy</h4>
          <!--  <a href="http://store.cdbaby.com/cd/zeremony2" target="cdbaby" style="display:inline-block;background:url(http://CDBaby.name/z/e/zeremony2.jpg) 18px 2px no-repeat, url(https://content.cdbaby.com/img/links/link-artwork-cart-dark-buy-now.png) 0px 0px no-repeat;background-size:175px, 211px;height:233px;width:211px;" title="Zeremony: Soul of the Zeremony" alt="Zeremony: Soul of the Zeremony" ></a>
          -->
			<iframe style="border: 0; width: 300px; height: 380px;" class="ignore-css"  src="https://bandcamp.com/EmbeddedPlayer/album=2554377685/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://zeremony.bandcamp.com/album/soul-of-the-zeremony">Soul of the Zeremony by Zeremony</a></iframe>
		</div>
		<div class="col-sm-4">
            <h4>Youtube</h4>
            <a href="https://www.youtube.com/channel/UCRQylQQ1eGTuBLXQ67M830w"><img src="static/assets/img/landing/youtube.png"  class="img-responsive" alt="Zeremony@Youtube" /></a>
        </div>

    </div>
    
</div>
